<h1>Log In</h1>

<div class"login">
  <%= link_to "Log in with GitHub", "/auth/github" %>
</div><%= link_to "Log in with GitHub", "/auth/github", class: "button" %>
<%= link_to "Log in with Google", "/auth/google_oauth2", class: "button" %></div>
