<h1>Log In</h1>

<div class="login columns small-6 float-right"><%= link_to "Log in with GitHub", "/auth/github", class: "button" %></div>
<div class="login columns small-6"><%= link_to "Log in with Google", "/auth/google_oauth2", class: "button" %></div>
