/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides
*/


main.row{
  margin-top: 50px;
}
main{
  margin:auto;

}


* {
  font-family: Handlee !important;
  font-style: cursive !important;
}

.footer {
  display: block;
  text-align: center;
  font-size: 18px
}




/************************************/
/* Flash Messages          */
/************************************/

section.failure, section.success {
  padding-top: 30px;
  margin: 1vw 0;
  /*margin-left: 2vw;*/
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

section.failure {
  color: red;
}

section.success {
  color: green;
}

section.failure li, section.success li {
  font-size: 1.25rem;
}


/************************************/
/* Body Styling          */
/************************************/

body {
  background: #f2f2f2 !important;
}

body>div.placeholder {
  height: 8vw;
}

li.navlinks.name {
  width: 15vw;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.padding-top {
  padding-top: 13%;
}

table {
  color: #000;
  table-layout: fixed;
  width: 100%;
}

table.order tr {
  border: 1px solid transparent;
  background-color: transparent !important;
}

table.order td {
  height: 5vw;
  text-align: top;
}

th,
td {
  text-align: center !important;
  overflow: hidden;
  text-transform: uppercase;
  width: auto;
}

td {
  color: #000;
  text-transform: uppercase;
}


/************************************/
/* Header/Nav Bar */
/************************************/

html {
  margin: 0;
  padding: 0;
}

a {
  color: #0fb379;
}

@media only screen and (orientation: landscape) {
  .homepage-banner {
    width: 100%;
  }
}

@media only screen and (orientation: portrait) {
  .homepage-banner {
    height: 100%;
    width: auto;
  }
}

main section h1, main section h2, main section h3 {
  margin-top: 2.5rem;
}

#slideshow {
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.slide {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  float: left;
  position: relative;
}

#slide-holder {
  width: 400vw;
  position: relative;
  left: 0;
  will-change: transform;
  animation: scroller 15s;
  animation-delay: 2s;
}

@keyframes scroller {
  0% { transform: translateX(0); }
  10% { transform: translateX(-100vw); }
  25% { transform: translateX(-100vw); }
  35% { transform: translateX(-200vw); }
  50% { transform: translateX(-200vw); }
  60% { transform: translateX(-300vw); }
  75% { transform: translateX(-300vw); }
  100% { transform: translateX(0); }

}

header {
  background-color: black;
}

nav {
  color: white;
  height: 11vw;
  margin: 0;
  padding: 3vw;
  padding-right: 3vw;
  opacity: .8;
  text-align: left;
  width: 100vw;
  z-index: 100;
}

.navlinks {
  display: inline-block;
  list-style: none;
  padding: 2vw 0 2vw 2.5vw;
}


.foodsie {
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;
  display: inline;
}

nav li:link,
nav li:hover,
nav li:visited {
  color: white;
}


/********************/
/*  Grid  */
/*******************/

article.column {
  margin: 3em 0 3em 0;
  padding: 0 3em 0 3em;
}

.center-text {
  text-align: center;
}

#index-category-list .category {
  border: 2px #010601 solid;
}

#index-product-list .product {
  border: 2px #010601 solid;
}

img {
  border: 2px #010601 solid;
}

/********************/
/*  Forms */
/*******************/

.format-forms {
  padding: 0 8% 0 8%;
  margin: 0 20vw;

}
h1.format-forms  {
  text-align: center;
  margin-bottom: 5%;
}


/********************/
/*  Products - Show */
/*******************/

.reviews-show {
  padding-top: 5vw;
}

.line-height {
  line-height: 250%;
}

.line-height h1, h3 {
  line-height: 150%;
}


/********************/
/*  Buttons        */
/*******************/

.big-button{
  margin-left: 50%;
  text-align: center;
}

h1.overlay span {
  color: black;
  text-transform: uppercase;
  font-size: 30px;
}

h1.overlay {
  position: fixed;
  margin: auto;
  color: black;
  z-index: 1;
  padding: 3vw;
  border: 6px solid black;
  width: 40vw;
  margin: 20vw 0 0 30vw;
  text-align: center;
}

h1.overlay:hover {
  background-color: rgba(255, 255, 255, .2);
}

/********************/
/*  Login        */
/*******************/

h1 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

div.login {
  margin: auto;
  width: 40%;
  border: white;
  padding: 50px;
}

/********************/
/*  Merchants Acct Page        */
/*******************/

select#status {
  width: 8vw;
}

th.col-num {
  width: 8%;
}

th.col-wide {
  width: 25%;
}

#add-product-button {
  margin-top: 2.5rem;
}

form label {
  font-size: 1.5rem;
}

form small {
  font-size: 1.25rem;
}
