/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */



 * {
     font-family: Handlee !important;
     font-style: cursive !important;
 }



.footer {
  display: block;
}

/************************************/
/* Flash Messages          */
/************************************/

section.failure, section.success {
  margin: 1vw 0;
  margin-left: 2vw;
}

section.failure {
  color: red;
}

section.success {
  color: green;
}

/************************************/
/* Body Styling          */
/************************************/

body>div.placeholder {
  height: 8vw;
}

li.navlinks {
  width: 12vw;
  padding-left: 1vw
}

li.navlinks.name {
  width: 15vw;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.padding-top {
  padding-top: 13%;
}

table{
    color: #000;
    table-layout: fixed;
    width: 100%;
}

table.order tr {
  border: 1px solid transparent;
  background-color: transparent !important;
}

table.order td {
  height: 5vw;
  text-align: top;
}


th,
td {
  text-align: left;
  overflow: hidden;
  text-transform: uppercase;
  // width: 10%;
}

td {
  color: #000;
  text-transform: uppercase;
}


/************************************/
/* Header/Nav Bar */
/************************************/

html {
  margin: 0;
  padding: 0;
}

@media only screen and (orientation: landscape) {
  .homepage-banner {
    width: 100%;
  }
}

@media only screen and (orientation: portrait) {
  .homepage-banner {
    height: 100%;
    width: auto;
  }
}

#slideshow {
	width: 100vw;
	height: auto;
	overflow: hidden;
  position: fixed;
  /* TEMP HIDING HOME IMAGES WHILE IN DEV BC NEED FLASH IMAGES TO SHOW UP */
  top: 100vw;
   /*top: 0vw;*/
  left: 0vw;

}

.slide {
  display: inline-block;
	width: 100vw;
	height: 100vh;
	float: left;
	position: relative;
}

#slide-holder {
	width: 400vw;
	position: relative;
	left: 0;
	will-change: transform;
	animation: scroller 15s;
  animation-delay: 2s;
}

@keyframes scroller {
  0% { transform: translateX(0); }
  10% { transform: translateX(-100vw); }
  25% { transform: translateX(-100vw); }
  35% { transform: translateX(-200vw); }
  50% { transform: translateX(-200vw); }
  60% { transform: translateX(-300vw); }
  75% { transform: translateX(-300vw); }
  100% { transform: translateX(0); }

}

/* get rid of margins so nav bar will extend across top */
body > header.row {
  margin-left: 0;
  margin-right: 0;
}

/* set nav width to 100vw */
body > header.row > nav {
  width: 100vw;
}

nav {
  background-color: #000;
  color: #FFF;
  // height: 11vw;
  margin: 0;
  // padding: 2vw;
  /* changing this so that flash messages and body content get pushed below nav bar */
  /*position: fixed;*/
  position: fixed;
  opacity: .8;
  text-align: left;
  width: 100vw;
  z-index: 100;
}


nav ul {
  display: inline-block;
}

nav ul li{
  display: inline-block;
  list-style: none;
  padding: 2vw 0 2vw 2.5vw;
  text-transform: uppercase;
}

nav ul li li {
  padding: 0;
}


nav a:link,
nav a:hover,
nav a:visited {
  color: #FFF;
  // padding: 0;
}



/********************/
/*  Grid  */
/*******************/

article.column {
  margin: 3em 0 3em 0;
  padding: 0 3em 0 3em;
}

.center-text {
  text-align: center;
}

/********************/
/*  Forms */
/*******************/

.format-forms {
  padding: 0 8% 0 8%;
  margin: 0 20vw;

}
h1.format-forms  {
  text-align: center;
  margin-bottom: 5%;
}

/********************/
/*  Products - Show */
/*******************/

.reviews-show {
  padding-top: 5vw;
}

.line-height {
  line-height: 250%;
}

.line-height h1, h3 {
  line-height: 150%;
}


/********************/
/*  Buttons        */
/*******************/



.big-button{
  margin-left: 41%;
  text-align: center;
}

h1.overlay a{
  position: fixed;
  margin: auto;
  color: black;
  z-index: 1;
  padding: 3vw;
  text-transform: uppercase;
  font-size: 30px;
  border: 6px solid black;
  width: 40vw;
  margin: 20vw 0 0 30vw;
}

h1.overlay a:hover {
  background-color: rgba(255, 255, 255, .2);
}
