#index-category-list .category{
  border-radius: 5px;
  border: 1px #ccc solid;
  margin-right: 10px;
  text-align: center;
  overflow: auto;
}

#index-category-list .category h2{
  margin: 30px 0px;
  font-size: 4rem;
}

#index-category-list{
  margin: auto;
}
