// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="submit"]{
  margin: 0;
}

#cart-contents{
  border-radius: 5px;
  border: 1px #ccc solid;

}

#cart-contents .row .column{
  margin-top: 20px;
}

#cart-contents .row:not(:last-child){
  border-bottom: 1px #ccc solid;
}

.delete-btn{
  width: 100%;
}

#cart-contents.medium-12{
  margin:auto;
}

.checkout-btn{
  width: 100%;
  margin-top: 10px;
}
