<% if flash[:message] %>
  <section class="row status <%= flash[:status] %>">
    <h3><%= flash[:message] %></h3>

    <% if flash[:details] %>
      <ul>
        <% flash[:details].each do |field, problems| %>
          <% problems.each do |problem| %>
            <li>
              <%= "#{field}: #{problem}" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>

  </section>
<% end %>
